@import "_reset";
@import "_variables";


.header {
    padding-top: 35px;
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.cta-banner {
    &__cta {
        text-align: center;
        margin-top: 80px
    }
    &__button {
        @include button;
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        font-weight: 700;
        padding: 20px 60px;
    }
    &__container {
        h2 {
            width: 613px;
            color: #0073f6;
            font-family: Muli;
            font-size: 78px;
            font-weight: 900;
        }
    }
}

.steps {
    &__title {
        color: $color_black;
        font-family: "Muli";
        font-size: 38px;
        font-weight: 900;
        line-height: 45px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
            max-width: 700px;
        }
    }
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &--item {
            display: flex;
            flex-direction: column;
            align-items: center;
            span {
                width: 90px;
                height: 90px;
                border-radius: 1000px;
                background-color: #0073f6;
                color: #ffffff;
                font-family: "Muli";
                font-size: 40px;
                font-weight: 900;
                line-height: 80px;
                text-align: center;
            }
            p {
                color: #1e1c24;
                font-size: 23px;
                font-weight: 600;
                font-style: normal;
                letter-spacing: normal;
                line-height: 25px;
                max-width: 210px;
            }
        }
    }
}